### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [189]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head() #Display column headers for later reference

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44


## Player Count

* Display the total number of players

In [ ]:
#Use a simple dataframe to print out a table similar to the example
plyr_tot = pd.DataFrame({"Total Players":[len(purchase_data["SN"].unique())]})
plyr_tot

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
#Another simple dataframe for data and metadata
item_dat = purchase_data[["Purchase ID","Item Name","Price"]]
itm_res = pd.DataFrame({"Number of Unique Items":[len(item_dat["Item Name"].unique())],
                       "Average Price":[round(item_dat["Price"].mean(),2)],
                       "Number of Purchases":[item_dat["Purchase ID"].count()],
                       "Total Revenue":[item_dat["Price"].sum()]})
#Results
itm_res

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [ ]:
#New copied df that isolates values we want to analyze
gndr_df = purchase_data[["SN","Gender"]].copy()

gndr_df.sort_values("SN",inplace = True)
gndr_df.drop_duplicates(keep = 'first', inplace = True)

#Results
res_gndr = pd.DataFrame(gndr_df["Gender"].value_counts())
res_gndr = res_gndr.rename(columns = {"Gender":"Total Count"})
res_gndr["Percentage of Players"] = round((res_gndr["Total Count"]/gndr["Gender"].count())*100,2)
res_gndr


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
gndr_pch = purchase_data[["SN","Gender","Price"]]
gp_group = gndr_pch.groupby("Gender")
sn_group = gndr_pch.groupby("SN")

res_gpch = pd.DataFrame(gp_group["Price"].count())
res_gpch["Average Purchase Price"] = round(gp_group["Price"].mean(),2)
res_gpch["Total Purchase Value"] = round(gp_group["Price"].sum(),2)
res_gpch["Avg Total Purchase per Person"] = round(res_gpch["Total Purchase Value"]/res_gndr["Total Count"],2)
res_gpch

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
bin_age = [0,9,14,19,24,29,34,39,100]
bin_label = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

age_df = purchase_data[["SN","Age"]].copy()
age_df.sort_values("SN",inplace = True)
age_df.drop_duplicates(keep = 'first', inplace = True)

age_demo = pd.cut(age_df["Age"], bin_age, labels=bin_label,include_lowest = True).value_counts().sort_index()
age_demo = pd.DataFrame(age_demo).rename(columns = {"Age":"Total Count"})
age_demo["Percentage of Players"] = round((age_demo["Total Count"]/age_df["Age"].count())*100,2) 
age_demo

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
bin_age = [0,9,14,19,24,29,34,39,100]
bin_label = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

agebuy_df = purchase_data[["SN","Age","Price"]].copy()

agebuy_df.head()

agebuy_df["Age Range"] = pd.cut(agebuy_df["Age"], bin_age, labels=bin_label,include_lowest = True)
age_pch = agebuy_df.groupby(["Age Range"])

age_demo2 = pd.cut(agebuy_df["Age"], bin_age, labels=bin_label,include_lowest = True).value_counts().sort_index()
age_demo2 = pd.DataFrame(age_demo2).rename(columns = {"Age":"Total Count"})
age_demo2["Avg Purchase"] = age_pch["Price"].mean()
age_demo2["Tot Purchase"] = age_pch["Price"].sum()
age_demo2["Avg Tot Purchase"] = age_pch["Price"].sum()/age_pch["SN"].nunique()
age_demo2

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
sn_df = purchase_data[["SN","Price"]].copy()
sn_df.head()
sn_group = sn_df.groupby("SN")

res_sn = sn_group.count().sort_values(["Price"], ascending=False)
res_sn["Average Purchase Price"] = sn_group["Price"].mean()
res_sn["Total Purchase Price"] = sn_group["Price"].sum()
res_sn.head()

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
item_df = purchase_data[["Item ID","Item Name","Price"]]
item_group = item_df.groupby(["Item ID","Item Name"])

res_item = item_group.count().sort_values(["Price"], ascending=False)
res_item["Price"] = item_group["Price"].mean()
res_item["Total Purchase Price"] = item_group["Price"].sum()
res_item.head()

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
res_itpr = item_group.count()
res_itpr["Price"] = item_group["Price"].mean()
res_itpr["Total Purchase Price"] = item_group["Price"].sum()
res_itpr = res_itpr.sort_values(["Total Purchase Price"], ascending=False)
res_itpr.head()